---
import { FaInstagram, FaWhatsapp } from 'react-icons/fa'
import { TbBrandShopee } from 'react-icons/tb'
interface Props {
  fbc: string
}

const { fbc } = Astro.props
---

<div class='container md:flex md:justify-between gap-4 py-4 md:py-10'>
  <div>
    <ul
      class='font-medium flex justify-center p-4 md:p-0 flex-row md:space-x-8 mt-0'
    >
      <li>
        <a
          href={'/#produk'}
          class='block py-2 px-3 text-white rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500 hover:text-primary active:text-primary'
          aria-current='page'
          data-items='menu-item'
        >
          Produk
        </a>
      </li>
      <li>
        <a
          href={'/#testimoni'}
          class='block py-2 px-3 text-white rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500 hover:text-primary active:text-primary'
          aria-current='page'
          data-items='menu-item'
        >
          Testimoni
        </a>
      </li>
      <li>
        <a
          href={'/#info-pemesanan'}
          class='block py-2 px-3 text-white rounded md:bg-transparent md:p-0 dark:text-white md:dark:text-blue-500 hover:text-primary active:text-primary'
          aria-current='page'
          data-items='menu-item'
        >
          Info Pemesanan
        </a>
      </li>
    </ul>
  </div>
  <div class='flex gap-4 text-primary justify-center md:justify-end'>
    <a
      href='https://www.instagram.com/goldentrees_honeywine'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:text-primary/80'
      aria-label='Instagram Golden Tree'
    >
      <FaInstagram className='text-2xl' />
    </a>
    <a
      id='footer-wa-button'
      href={fbc
        ? `https://maximdigi.com/api/crm/init-conversion?fbc=${fbc}&waNumber=628118826778`
        : `https://wa.me/628118826778`}
      target='_blank'
      rel='noopener noreferrer'
      class='hover:text-primary/80'
      aria-label='Whats App Golden Tree'
    >
      <FaWhatsapp className='text-2xl' />
    </a>
    <a
      href='https://shope.ee/8f5jUM4fLF'
      target='_blank'
      rel='noopener noreferrer'
      class='hover:text-primary/80'
      aria-label='Shopee Golden Tree'
    >
      <TbBrandShopee className='text-2xl' />
    </a>
  </div>
</div>
