---
import { Image } from 'astro:assets'
import pemesananImg from '@/assets/pemesanan.png'
import { Input } from '@/components/ui/input'
import { Button } from './ui/button'
import { Textarea } from './ui/textarea'
---

<div id='info-pemesanan' class='bg-[#0D1214]'>
  <div class='container py-20'>
    <div class='grid grid-cols-1 md:grid-cols-2 gap-10'>
      <div class='flex justify-center md:justify-end'>
        <Image
          src={pemesananImg}
          alt='Pemesanan'
          class={'w-[400px] max-w-[70%] h-auto'}
        />
      </div>
      <div class='space-y-2'>
        <h2 class='text-4xl text-primary mb-4 font-semibold'>Pemesanan</h2>
        <h3 class='text-4xl font-cormorant-garamond'>
          The Golden Trees Honey Wine
        </h3>
        <p class='line-through'>Rp 1.000.000</p>
        <p class='text-primary text-2xl'>Rp 700.000</p>
        <p class=''>Pesan Melalui toko Resmi</p>
        <form class='max-w-sm py-4 space-y-4' method='post' id='formPemesanan'>
          <Input name='nama' type='text' placeholder='Nama Anda' required />
          <Input name='phone' type='tel' placeholder='Nomor Telepon' required />
          <Input name='email' type='email' placeholder='Email Anda' required />
          <Textarea name='pesan' placeholder='Tulis pesan di sini' required />
          <Button type='submit' className='w-full'>Pesan Sekarang</Button>
        </form>
      </div>
    </div>
  </div>
</div>

<script is:inline>
  const dataLayer = window.dataLayer || []
  const formPemesanan = document.getElementById('formPemesanan')
  if (formPemesanan) {
    formPemesanan.addEventListener('submit', (e) => {
      e.preventDefault()
      if (e.target instanceof HTMLFormElement) {
        const formData = new FormData(e.target)
        const data = Object.fromEntries(formData.entries())
        console.log(data)
        // window.open(`https://wa.me/628118826778?text=Halo%20saya%20${data.nama}%20${data.pesan}`);
        fetch('/api/send-mail', {
          method: 'POST',
          body: JSON.stringify(data),
          headers: { 'Content-Type': 'application/json' },
        })
          .then((res) => res.json())
          .then((res) => {
            console.log(res)
            dataLayer.push({ event: 'complete-registration' })
            window.open(
              'https://www.goldentrees-honeywine.id/order-form/thank-you',
              '_blank',
            )
          })
          .catch((err) => {
            console.error(err)
            alert('Terjadi kesalahan, silahkan coba lagi')
          })
      }
    })
  }
</script>
