---
import { FaCheck } from 'react-icons/fa';
import konsumsiImg from '@/assets/konsumsi.png';
import { Image } from 'astro:assets';
---

<div class='container py-10'>
  <div class='md:flex justify-center items-center gap-4'>
    <div>
      <h2 class='text-4xl text-primary mb-10 font-semibold max-w-sm'>
        Cara Mengkonsumsi Honey Wine
      </h2>
      <p class='text-primary mb-4 font-bold'>Untuk Menjaga Kesehatan</p>
      {
        ['30 ml (1 sloki) setiap malam'].map((item) => (
          <div class='flex gap-4 mb-4'>
            <FaCheck className='text-primary shrink-0 mt-1' />
            <div>{item}</div>
          </div>
        ))
      }
      <p class='text-primary mb-4 mt-8 font-bold'>
        Untuk Pemulihan Kesehatan <br /><span class='font-normal'
          >(Penyintas Autoimun, Penyakit degeneratif, dll)</span>
      </p>
      {
        [
          '30 ml (1 sloki) setiap pagi',
          '30 ml (1 sloki) setiap malam',
          'Selama 4 bulan (15 botol)',
        ].map((item) => (
          <div class='flex gap-4 mb-4'>
            <FaCheck className='text-primary shrink-0 mt-1' />
            <div>{item}</div>
          </div>
        ))
      }
    </div>
    <div class='py-4'>
      <Image
        src={konsumsiImg}
        alt='Cara Mengkonsumsi Honey Wine'
        class={'w-[360px] max-w-[70%] mx-auto h-auto'}
      />
    </div>
  </div>
</div>
